* {
    margin: 0;
    padding: 0;
    /* display: grid;
    place-items: center; */
    box-sizing: border-box;
    background-color: rgb(41, 41, 41);
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: sans-serif;
    flex-direction: row;
    font-weight: 700;
    color: aliceblue;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.voltar {
    padding-right: 12px;
}